
<ion-header>



</ion-header>



<ion-content class="content">
      <div class="image">
        <img src="{{flat?.downloadUrl}}" >
      </div>
    
     
              <p  style="text-align: center;">FLAT NAME: {{flat?.flatname}}</p>
              <p style="text-align: center;">DESCRIPTION: {{flat?.description}}</p>
              <p style="text-align: center;">ADDRESS: {{flat?.address}}</p>
              <p style="text-align: center;">PRICE: R{{flat?.price}} P/M</p>
              <p style="text-align: center;color: white">CONTACT : {{flat?.contactNo}}</p>
              
        
          <button *ngIf="hideButn" ion-button  style = "color: white; background: #990033" (click)="checkStatus()" full>BOOK</button> 
          <ion-card *ngIf="card">
            <ion-card-content>
          <ion-list>

            <ion-item>
              <ion-input type="date" [(ngModel)]="bookingDate"  placeholder="Date"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="time" [(ngModel)]="time"  placeholder="Time"></ion-input>

        </ion-item>
        <button ion-button block (click)="writeBooking()">
            Book
          </button>
          
        
          <button ion-button block color="danger" (click) = "removeBookings(booking)">
            <ion-icon name="trash"></ion-icon>
            Cancel</button>
          </ion-list>
          </ion-card-content>
          </ion-card>
          
</ion-content>
