page-flat-details {
    // .content{
    //     background-color:white; /* For browsers that do not support gradients */
    // img {
    //             border-radius:none;
    //             text-align: center;
           
    //         }
    .wrapper-home{
      
      
}

ion-card {
    position: relative;
    text-align: center;
  }
}

.content{

    p{
        color: black;
    }
    
    }


