
<ion-header>



</ion-header>



<ion-content class="content">
  <!-- <div class="wrapper-home">
        <img src="{{flat?.downloadUrl}}" >
      </div> -->
      <ion-card >
        <img src="{{flat?.downloadUrl}}" >
      </ion-card>
     
              <!-- <p  style="text-align: center;">FLAT NAME: {{flat?.flatname}}</p> -->
              <p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-style: inherit;font-size: 150%; color: rgb(36, 100, 100);">DESCRIPTION: {{flat?.description}}</p>
              <p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-style: inherit;font-size: 150%; color: rgb(36, 100, 100);">ADDRESS: {{flat?.address}}</p>
              <p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-style: inherit;font-size: 150%; color: rgb(36, 100, 100);">PROVINCE: {{flat?.province}}</p>
              <p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-style: inherit;font-size: 150%; color: rgb(36, 100, 100);">CITY: {{flat?.city}}</p>
              <p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-style: inherit;font-size: 150%; color: rgb(36, 100, 100);">PRICE: R{{flat?.price}} P/M</p>
              <p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-style: inherit;font-size: 150%; color: rgb(36, 100, 100);">CONTACT : {{flat?.contactNo}}</p>
              
        
          <button *ngIf="hideButn" ion-button  style = "color: white; background: rgb(36, 100, 100)" (click)="checkStatus()" full>BOOK</button> 
          <ion-card *ngIf="card">
            <ion-card-content>
          <ion-list>

            <ion-item>
              <ion-input type="date" [(ngModel)]="bookingDate"  placeholder="Date"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="time" [(ngModel)]="time"  placeholder="Time"></ion-input>

        </ion-item>
        <button ion-button block (click)="writeBooking()">
            Book
          </button>
          
        
          <button ion-button block color="danger" (click) = "removeBookings(booking)">
            <ion-icon name="trash"></ion-icon>
            Cancel</button>
          </ion-list>
          </ion-card-content>
          </ion-card>
          
</ion-content>
