
<ion-header >
  

    <ion-navbar color=toolbar>
       
            <button ion-fab style="display: none;"></button>
            <ion-row>
      
              <ion-col  col-2>
               
              </ion-col>
              <ion-col  col->
                  <!-- <ion-searchbar>
                  [(ngModel)]="myInput"
                  (onInput)="onInput()"
                  [showCancelButton]="True"
                  (search)="search($event)"
                  (ionClear)="onClear($event)"
                  (ionCancel)="onCancel($event)">
                </ion-searchbar> -->
                
    <ion-searchbar [(ngModel)]="searchTerm"
     (ionInput)="setFilteredItems()" 
      [formControl]="searchControl"  
      (ionInput)="onSearchInput()">
    </ion-searchbar>

    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
  </div>

    <ion-list>
        <ion-item *ngFor="let item of items">
            {{item.title}}
        </ion-item>
    </ion-list>
              </ion-col>
              <ion-col  col-2>
                <button ion-button icon-only  clear medium (click) ="showCheckbox()" style="color:aliceblue;">
                  <ion-icon name = "person"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
         
        </ion-navbar>


  

  </ion-header>
 



    <ion-content class="card-background-page">

      

  
        <div>
            <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
              </ion-refresher>
        </div>

        <ion-list>

        <ion-card  *ngFor = "let flat of flatList" (click)="getFlatDetails(flat)">
       
           
         
          <img src="{{flat?.downloadUrl}}" >
       
      
      <div class="card-title" style = "color: white">{{flat?.flatname}}</div><br>
      <div class="card-subtitle1" style = "color: white">Price: R{{flat?.description}}</div>
      <div class="card-subtitle" style = "color: white">Price: R{{flat?.price}}</div>
      <!-- <div class="card-subtitle" style = "color: white">Price: R{{flat?.province}}</div> -->
      <!-- <div class="card-subtitle" style = "color: white">Price: R{{flat?.city}}</div> -->
    </ion-card>




    

      
      </ion-list>




<!--      
    <ion-row>
        <ion-col>
          <button ion-button block outline (click) ="showCheckboxLogin()"  style = "background-color:rgb(36, 100, 100);color:azure;">LogIn</button>
        </ion-col>
        <ion-col>
          <button ion-button block outline (click) ="showCheckbox()"   style = "background-color:rgb(36, 100, 100); color:azure;">Register</button>
        </ion-col>
      </ion-row> -->
</ion-content>
<ion-footer>
  <ion-col>
    <!-- <button ion-button block outline (click) ="showCheckboxLogin()"  style = "background-color:rgb(36, 100, 100);color:azure;">LogIn</button> -->
    <button ion-button block outline (click) ="Login()"  style = "background-color:rgb(36, 100, 100);color:azure;">LogIn</button>
  </ion-col>

</ion-footer>
